<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
<title>Scraper</title>

<div class = "container">
    <p>test</p>
    <button class = "scrape button">SCRAPE</button>
    
    <div id="articles"></div>
    <div id="notes"></div>
</div>

<!--change this to the correct route(this actually might be correct)-->
<script src="app.js"></script>
<!---->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>